# Pythonキャッシュ
__pycache__/
*.pyc

# pytestキャッシュ
.pytest_cache/

# coverageレポート
htmlcov/
.coverage

# 仮想環境
.venv/

# 環境変数ファイル
.env

# Dockerログ
*.log

# Node.js関連
node_modules/
npm-debug.log*

# デプロイ関連
deploy-package/
lambda-etl-function.zip